@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100&display=swap');

:root {
    --header_bg: #f55a5a;
    --text_color: #2b283a;
    --link_color: #716f79;
    --border-color: #f5f5f5;
}

* {
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
    font-size: 16px;
}

.navbar {
    display: flex;
    width: 100%;
    height: 55px;
    left: 0px;
    top: 0px;
    justify-content: center;
    align-items: center;
    text-transform: capitalize;

    background: var(--header_bg);
}

.navbar p {
    display: flex;
    align-self: center;

    font-style: normal;
    font-weight: 500;
    font-size: 1em;
    line-height: 18px;
    letter-spacing: -0.075em;

    color: #FFFFFF;
}

.container {
    display: flex;
    margin: 30px 35px;
    padding-bottom: 5px;
    border-bottom: 1px solid var(--border-color);
}

.item {
    display: flex;
}

img {
    border-radius: 5px;
    height: 170px;
    width: 130px;
}

.location {
    color: var(--text_color);
    margin-left: 5px;
    font-size: .9em;
    font-weight: 800;
    letter-spacing: 2px;
    text-transform: uppercase;
}

div.section-right a {
    color: var(--link_color);
    font-size: .75em;
    margin-left: 15px;
}

.title {
    margin-left: 5px;
    font-size: 1.2em;
    font-weight: 600;
    letter-spacing: 1px;
    margin-top: 10px;
    text-transform: capitalize;
}

.date {
    font-size: .7em;
    font-weight: 800;
    margin-top: 10px;
    margin-left: 5px;
}

.date span {
    font-size: 1.1em;
    font-weight: 800;
}

.description {
    color: var(--text_color);
    font-size: .95em;
    font-weight: 600;
    color: rgb(133, 133, 133);
    margin-top: 10px;
    margin-left: 5px;
    width: 50%;
}

.bi-geo-alt-fill {
    color: var(--header_bg);
}